@media (max-width: 1150px) {
    .welcome-container {
        width: 85vw;
    }
}

@media (max-width: 600px) {
    .welcome-container {
        flex-direction: column;
        border-radius: 16px;
        height: 66vh;
    }

    .navigation {
        width: 100%;
        background-color: #27355C;
        height: 18%;
        border-radius: 16px 16px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        flex-direction: row;
    }

    .navigation ul {
        flex-direction: row !important;
        flex-direction: row !important;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .response {
        height: 100%;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .logo {
        padding: 0;
    }

    .idendification, .idendificationCSS, .idendificationJS, .idendificationJAVA {
        width: 0;
        height: 0;
    }

    .main-container {
        height: 100%;
        border-radius: 0px 0px 16px 16px;
    }

    .progress {
        top: 4px;
    }

    .questionContainer {
        border-radius: 0px 0px 16px 16px;
    }
    .end-container {
        border-radius: 0px 0px 16px 16px;
    }
}

@media (max-width: 400px) {
    .nav-item{
        font-size: 15px;
    }

    .welcome-text {
        font-size: 24px;
    }

    .card-body {
        gap: 30px;
    }
}

@media (max-height: 600px) {
    
    .welcome-container {
        height: 100vh;
        width: 100%;       
    }

    .main-container {
        height: 100vh;
        border-radius: 0;
    }

    .navigation {
        border-radius: 0;
        height: 100%;
        overflow: hidden;
    }

    .idendification{
        display: none;
    }

    .navigation ul {
        height: 100%;
        padding: 30px 0 0 0;
    }

    .questionContainer {
        overflow: hidden;
    }

    .question {
        height: 80px;
    }

    .mobile-response {
        height: 40px !important;
    }

    .answer {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }

    .card-body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .endText img {
        width: 100px;
    }

    .result {
        padding-bottom: 40px;
    }

}